# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual env
env/
venv/

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Environment & config
# .env
# *.env
.streamlit/secrets.toml

# Model files
*.pt
*.pth
*.safetensors

# Data & cache
*.csv
*.log
*.cache/

# VSCode
.vscode/

# Streamlit logs
.streamlit/

# OS
.DS_Store
Thumbs.db

# thư mục models vì có kích thước lớn
models/