pandas==2.2.3
streamlit==1.45.1
streamlit-aggrid==1.1.5.post1
psycopg2_binary==2.9.10
dotenv==0.9.9
bcrypt==4.3.0
huggingface_hub==0.33.0
torch==2.7.1
transformers==4.52.4
sentencepiece==0.2.0
sacremoses==0.1.1